.side-drawer {
    height: 100%;
    background-color: #ffffff;
    box-shadow: -2px 0 4px 1px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    max-width: 300px;
    z-index: 200;
    display: block;
    transform: translateX(+102%);
    transition: transform 0.3s ease-out;
}

.side-drawer.open-side-drawer {
    transform: translateX(0);
}

.close-side-drawer {
    padding: 5px;
    background-color: red;
    border: 1px solid red;
    border-radius: 3px;
    margin-left: -22px;
    color: #fff;
    cursor: pointer;
}

.side-drawer button {
    width: 100%;
}

@media (min-width: 768px) {
    .side-drawer {
        display: none;
    }
}